@model ECOE.Models.AlunoQuestao

<form>
    <select>
        @if (Model.Nota == 0)
        {
            <option value="0" selected>
                Não Realizou
            </option>
        }
        else
        {
            <option value="0">
                Não Realizou
            </option>
        }
        @if (Model.Nota == 1)
        {
            <option value="1" selected>
                Realizou Parcialmente
            </option>
        }
        else
        {
            <option value="1">
                Realizou Parcialmente
            </option>
        }
        @if (Model.Nota == 2)
        {
            <option value="2" selected>
                Realizou
            </option>
        }
        else
        {
            <option value="2">
                Realizou
            </option>
        }
    </select>
</form>