@model ECOE.Models.Questao

@{
    ViewBag.Title = "CreateQuestao";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var avaliacaoId = ViewBag.avaliacaoId;

}

    <div class="form-horizontal" style="margin-top:3%;">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <h4 class="card-title">
                        Adicionar Questão a <b> @ViewBag.avaliacaoNome</b>
                    </h4>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group has-rose bmd-form-group">
                                    @*<label class="bmd-label-floating">Descrição </label>*@
                                    @*@Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })*@
                                    <textarea id="mytextarea" rows="25" name="Descricao"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer" style="text-align:right">
                        <row>
                            <a href="@Url.Action("ListQuestao","Avaliacao", new { avaliacaoId = avaliacaoId})" class="btn btn-danger">
                                Concluir e Sair
                            </a>
                            <input type="submit" value="Salvar" class="btn btn-primary pull-right">
                        </row>
                    </div>
                }
            </div>
        </div>
    </div>


