@model ECOE.Models.Mensagem

@{
    Layout = null;
}

@if (Model.tipo == 1)
{
    <div class="alert alert-success col-md-8 " style="margin-top:1%; margin:auto; margin-bottom:1%;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
        <span style="font-size: 20px; text-align:center;">@Model.texto</span>
    </div>
}
@if (Model.tipo == 2)
{
    <div class="alert alert-danger col-md-8 " style="margin-top:1%; margin:auto; margin-bottom:1%;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
        <span style="font-size: 20px; text-align:center;">@Model.texto</span>
    </div>
}
@if (Model.tipo == 3)
{
    <div class="alert alert-warning col-md-8 " style="margin-top:1%; margin:auto; margin-bottom:1%;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
        <span style="font-size: 20px; text-align:center;">@Model.texto</span>
    </div>
}
@if (Model.tipo == 4)
{
    <div class="alert alert-info col-md-8 " style="margin-top:1%; margin:auto; margin-bottom:1%;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
        <span style="font-size: 20px; text-align:center;">@Model.texto</span>
    </div>
}