@model ECOE.Models.PessoaCurso

@{
    /**/

    ViewBag.Title = "CordenadorCurso";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Mensagem = ViewBag.Mensagem;
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<div class="form-horizontal" style="margin-top:3%;">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Adicionar Coordenador à <b>  @ViewBag.cursoNome </b></h4>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-rose bmd-form-group">
                                <label class="bmd-label-floating">Nome do coordenador</label>
                                <input name="Nome" id="nome" type="text" class="form-control">
                                <input type="hidden" name="CursoId" value="@ViewBag.cursoId" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="text-align:right">
                    <row>
                        <a href="ListCurso" class="btn btn-danger" style="font-weight:bold; font-family:Arial;">
                            Cancelar
                        </a>
                        <input type="submit" value="Salvar" class="btn btn-primary pull-right">
                    </row>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#nome').autocomplete({
            source: '/Pessoa/Search',
            select: function (event, ui) {
                //set tagids to save
                $("#nome").val(ui.item.id);

                //Tags for display
                this.value = ui.item.value;
                return false;
            }
        });
    });
</script>