<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Trocar RA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    @using (Html.BeginForm("Modal_Editar_RA", "Pessoa", FormMethod.Post, new { id = "form" }))
    {
        @Html.AntiForgeryToken()

<div class="modal-body">
    <div class="col-md-12 row">
        <div class="form-group col-md-6">
            <label class="">Nome do Aluno</label>
            <input name="Nome" id="nome" type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label class="">Antigo RA</label>
            <input name="raantigo" id="raantigo" type="text" disabled class="form-control">
        </div>
    </div>
    <div class="col-md-12 row">
        <div class="form-group col-md-4">
            <label class="">Novo RA</label>
            <input name="RA" id="ra" type="text" class="form-control">
        </div>
    </div>
    <input type="hidden" name="PessoaId" id="id"/>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-success">Trocar</button>
    </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('#nome').autocomplete({
            source: '/Pessoa/SearchAluno',
            select: function (event, ui) {
                //set tagids to save
                $("#nome").val(ui.item.nome);
                $("#raantigo").val(ui.item.ra);
                $("#id").val(ui.item.id);
                //Tags for display
                this.value = ui.item.value;
                return false;
            }
        });
    });
</script>